@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fff] text-gray-50;
    /* @apply: : -webkit-scrollbar-; */
  }
}
.body {
  user-select: none;
  max-width: 100vw;
}
.body ::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
